<div ibmGrid class="bx--grid--full-width landing-page">
    <div ibmRow class="landing-page__banner">
      <div ibmCol [columnNumbers]="{'lg': 7}">
          <ibm-accordion>
              <ibm-accordion-item title="Included with Monthly Charge">  
                    <div ibmGrid>
                        <div ibmRow>
                            <div ibmCol ><p>Up to 30 work units of CPU Usage, 10GB open DISK space</p></div>
                            <div ibmCol ><p>$600 OTC</p></div>
                        </div>
                    </div>
              </ibm-accordion-item>
              <ibm-accordion-item title="Pre-installed software configuration">
                <p>Up to 30 work units of CPU Usage, 10GB open DISK space</p>
                <br><br>
                <ibm-checkbox *ngFor="let item of preInstalledSoftwares"
				(change)="onCheckedChange($event, item)">
				{{item.content}}
            </ibm-checkbox>
            </ibm-accordion-item>
            <ibm-accordion-item title="Additional features">
                <p>One instance of the IBM software product listed below are provided in a default configuration.</p>
                <br><br>
                
                <ibm-structured-list [formGroup]="addFeaturesForm" (ngSubmit) = "onSubmit()"> 
                    <ibm-list-header>
                        <ibm-list-column>Quantity</ibm-list-column>
                        <ibm-list-column>Label</ibm-list-column>
                        <ibm-list-column><label>Version & Release</label></ibm-list-column>
                        <ibm-list-column>Price</ibm-list-column>
                    </ibm-list-header>
                    <ng-container formArrayName="addFeatures">
                    <ibm-list-row *ngFor="let feature of features; let item of addFeaturesForm.get('addFeatures').controls; let i = index">
                        <ng-container [formGroupName]="i">
                        <ibm-list-column>                       
                            <!-- <ibm-number [min]=0 [max]="feature.maxnum" formControlName="instNumber" ngModel maxlength=2></ibm-number> -->
                            <input formControlName="instNumber" type="number" ngModel min=0 max="{{feature.maxnum}}">
                        </ibm-list-column>
                        <ibm-list-column nowrap="true">
                            <input type="text" formControlName="featureLabel" readonly style="border:0" [(ngModel)]="feature.label" (change)="onInputChange()">
                        </ibm-list-column>
                        <ibm-list-column>
                            <ibm-select #selectOption (selected)="onSelectChange($event)" formControlName="versionSelect">
				                <option  value="default" disabled>Choose an option</option>
				                <option [value]="feature.version" selected="false">{{feature.version}}</option>
			                </ibm-select>
                        </ibm-list-column>
                        <ibm-list-column nowrap="true">
                            <span>
                            $
                            <input type="text" formControlName="featurePrice" readonly style="border:0" size="3" ngModel="{{feature.price}}">
                            <input type="text" formControlName="featureUnit" readonly style="border:0" ngModel="{{feature.unit}}">
                            </span>
                        </ibm-list-column>
                        <!-- <span *ngIf="addFeaturesForm.get('addFeatures').errors['versionRequired']">Please select version before adding quantity!</span>  -->
                    </ng-container>
                    </ibm-list-row>
                    
                </ng-container>
                </ibm-structured-list>
                <button ibmButton="primary" (click)="onChange($event)" >Add</button>
            </ibm-accordion-item>
            <ibm-accordion-item title="System Access Information">
                <div  [formGroup]="sysAccForm">
                    <div ibmRow  style="border:1px black solid;">
                        <div ibmCol [columnNumbers]="{'lg':2,'sm':3}">
                            Qty.
                        </div>
                        <div ibmCol [columnNumbers]="{'lg':5,'sm':5}">
                            Label
                        </div>
                        <div ibmCol [columnNumbers]="{'lg':5,'sm':4}">
                            Price
                        </div>
                    </div>
                    <ng-container formArrayName="sysAccInfoArray">
                        
                    <div ibmRow  style="border:1px black solid;"
                    *ngFor="let sysitem of sysAccInfoFiltered; let item of sysAccForm.get('sysAccInfoArray').controls; let i = index">
                    <ng-container [formGroupName]="i">
                        <div ibmCol [columnNumbers]="{'lg':2,'sm':3}" >
                            <input formControlName="selectItem" type="radio" id="selectItem" name="selectItem" [value]="'selected'+i" [checked]="i === 0" (change)="onRadioChecked('selected'+i)">
                        </div>
                        <div ibmCol [columnNumbers]="{'lg':5,'sm':5}">
                            <input type="text" formControlName="sysAccItemLabel" readonly style="border:0" [(ngModel)]="sysitem.label">
                        </div>
                        <div ibmCol [columnNumbers]="{'lg':5,'sm':4}" >
                            <label *ngIf="sysitem.price !== 0">$</label>
                        <input *ngIf="sysitem.price !== 0" type="text" formControlName="sysAccItemPrice" readonly style="border:0" size="3" ngModel="{{sysitem.price}}">
                        <input type="text" formControlName="sysAccItemUnit" readonly style="border:0" ngModel="{{sysitem.unit}}">
                        </div>
                    </ng-container>
                    </div>
                </ng-container>
                <ng-container formGroupName="sysAccInfoLoginId">
                <div ibmRow>
                    <div ibmCol [columnNumbers]="{'lg':2,'sm':3}">
                        <input formControlName="selectLoginItem" type="number" ngModel min=1 max="{{sysAccIngoLoginIds[0].maxnum}}" >
                    </div>
                    <div ibmCol [columnNumbers]="{'lg':5,'sm':5}">
                        <input type="text" formControlName="sysAccItemLoginLabel" readonly style="border:0" [(ngModel)]="sysAccIngoLoginIds[0].label">
                    </div>
                    <div ibmCol [columnNumbers]="{'lg':5,'sm':4}" >
                        <label *ngIf="sysAccIngoLoginIds[0].price !== 0">$</label>
                        <input *ngIf="sysAccIngoLoginIds[0].price !== 0" type="text" formControlName="sysAccItemLoginPrice" readonly style="border:0" size="3" ngModel="{{sysAccIngoLoginIds[0].price}}">
                        <input type="text" formControlName="sysAccItemLoginUnit" readonly style="border:0" ngModel="{{sysAccIngoLoginIds[0].unit}}">
                    </div>
                </div>
            </ng-container>
                </div>
        </ibm-accordion-item>
          </ibm-accordion>
          <p>{{addFeaturesForm.value|json}}</p>
      </div>
      <div ibmCol [columnNumbers]="{'lg': 5}">
          <!-- <router-outlet></router-outlet> -->
          <app-order-details [idNew] ="id" [osTitle]="selectedOSTitle" [expandAcc]="expandAcc" [orderConfigJson]="addFeaturesForm.value" [sysAccJson]="sysAccForm.value" [checkedItems]="SoftwarestobeSaved" [selectedFeatures]="selectedFeatures"></app-order-details>
      </div>
    </div>   
  </div>

