<div ibmGrid class="bx--grid--full-width landing-page">
    <div ibmRow>
        <h3>
            Order Overview
        </h3>
    </div>
    <hr>
    <div ibmRow>
        <h4>
            {{osTitle}} 
        </h4>
    </div>
    <hr>
    <ibm-accordion>
        <ibm-accordion-item title="Counter to check button click" [expanded] = "expandAcc">
               {{idNew}}
        </ibm-accordion-item>
        <ibm-accordion-item title="Pre intalled softwares added" [expanded] = "expandAcc">
            <p *ngFor="let item of checkedItems">{{item.content}}</p>            
     </ibm-accordion-item>
        <ibm-accordion-item title="Additional features:  " [expanded] = "expandAcc">
                <div ibmGrid>
                    <div ibmRow *ngFor="let feature of orderConfigJson.addFeatures">
                        <ng-template [ngIf]="feature.instNumber && feature.instNumber > 0">
                            <div ibmCol [columnNumbers]="{'lg': 7}">
                                <p noWrap=true><span>{{feature.featureLabel}}  </span> 
                                <span>{{feature.versionSelect}} :  </span>
                                <span>{{feature.instNumber}}</span></p>
                            </div>
                            <div ibmCol [columnNumbers]="{'lg': 5}">
                                <p><span>$ {{feature.featurePrice * feature.instNumber}}</span>
                                <span>{{feature.featureUnit}}</span></p>
                            </div>
                        </ng-template>  
                    </div>
                </div>
                <div><p>$ {{sumAddFeaturesotc}} OTC</p></div>
                <div><p>$ {{sumAddFeaturesmonth}} /Month/Unit</p></div>
                <div>{{sysAccJson|json}}</div>            
     </ibm-accordion-item>
     <ibm-accordion-item title="System Access Information:  " [expanded] = "expandAcc">
        <div ibmGrid>
            <div ibmRow *ngFor="let item of sysAccJson.sysAccInfoArray">
                <ng-template [ngIf]="item.selectItem">
                    <div ibmCol [columnNumbers]="{'lg': 5}">
                        <p noWrap=true><span>{{item.sysAccItemLabel}}  </span> 
                    </div>
                    <div ibmCol [columnNumbers]="{'lg': 2}">
                        <p noWrap=true><span>1</span> 
                    </div>
                    <div ibmCol [columnNumbers]="{'lg': 5}">
                        <p><span *ngIf=" item.sysAccItemPrice && item.sysAccItemPrice > 0">$</span>
                        <span *ngIf="item.sysAccItemPrice && item.sysAccItemPrice > 0">{{item.sysAccItemPrice}}   </span>
                        <span>{{item.sysAccItemUnit}}</span></p>
                    </div>
                </ng-template>  
            </div>
            <div ibmRow *ngIf="sysAccJson.sysAccInfoLoginId.selectLoginItem && sysAccJson.sysAccInfoLoginId.selectLoginItem > 0">
                <div ibmCol [columnNumbers]="{'lg': 5}">
                    <p noWrap=true><span>{{sysAccJson.sysAccInfoLoginId.sysAccItemLoginLabel}}  </span> 
                </div>
                <div ibmCol [columnNumbers]="{'lg': 2}">
                    <p noWrap=true><span>{{sysAccJson.sysAccInfoLoginId.selectLoginItem}}  </span> 
                </div>
                <div ibmCol [columnNumbers]="{'lg': 5}">
                    <p><span>{{sysAccJson.sysAccInfoLoginId.sysAccItemLoginPrice}}</span>
                    <span>{{sysAccJson.sysAccInfoLoginId.sysAccItemLoginUnit}}</span></p>
                </div>
            </div>
        </div>
        <div><p>$ {{sumSysAccotc}} OTC</p></div>
        <div><p>$ {{sumSysAccmonth}} /Month/Unit</p></div>
        <div>{{sysAccJson|json}}</div>            
</ibm-accordion-item>
    </ibm-accordion>
</div>
