<div ibmGrid class="bx--grid--full-width landing-page">
    <div ibmRow>
        <h3>
            Order Overview
        </h3>
    </div>
    <hr>
    <div ibmRow>
        <h4>
            {{osTitle}} 
        </h4>
    </div>
    <hr>
    <ibm-accordion>
        <ibm-accordion-item title="Counter to check button click" [expanded] = "expandAcc">
               {{idNew}}
        </ibm-accordion-item>
        <ibm-accordion-item title="Pre intalled softwares added" [expanded] = "expandAcc">
            <p *ngFor="let item of checkedItems">{{item.content}}</p>            
     </ibm-accordion-item>
        <ibm-accordion-item title="Additional features:  " [expanded] = "expandAcc">
                <div ibmGrid>
                    <div ibmRow *ngFor="let feature of orderConfigJson.addFeatures">
                        <ng-template [ngIf]="feature.instNumber && feature.instNumber > 0">
                            <div ibmCol [columnNumbers]="{'lg': 7}">
                                <p noWrap=true><span>{{feature.featureLabel}}  </span> 
                                <span>{{feature.versionSelect}} :  </span>
                                <span>{{feature.instNumber}}</span></p>
                            </div>
                            <div ibmCol [columnNumbers]="{'lg': 5}">
                                <p><span>$ {{feature.featurePrice * feature.instNumber}}</span>
                                <span>{{feature.featureUnit}}</span></p>
                            </div>
                        </ng-template>  
                    </div>
                </div>
                <div><p>$ {{sumAddFeaturesotc}} OTC</p></div>
                <div><p>$ {{sumAddFeaturesmonth}} /Month/Unit</p></div>
     </ibm-accordion-item>
    </ibm-accordion>
</div>
